{% extends 'blog/sample.html' %}

{% block content %}

    <form class="registration_form" action="/authorization/" method="post">
        {% csrf_token %}

        {% if error_message %}
            <h3 style="color: darkred">{{ error_message }}</h3>

        {% endif %}
        <span>Введите emeil:</span>
        <input type='text' name="email"  id="floatingInput" placeholder="name@mail.ru">
        <span>Введите пароль:</span>
        <input type='password' name="password"  id="floatingPassword" placeholder="Password">
        <br><br>
        <button type="submit">Вход</button>
    </form>


{% endblock %}

