{% extends 'blog/sample.html' %}

{% block title %}
    {% if friend %}
        {{ friend.first_name }}
    {% endif %}
{% endblock %}


{% block content %}
    {% if friend %}
        email:
        {{ friend.email }}<br><br><br><br>
        Имя:
        {{ friend.first_name }}<br><br>
        Фамилия:
        {{ friend.last_name }}<br><br><br>
    {% endif %}

    записи:<br>
    {% if user_post %}
        {% for foo in user_post %}
            {{ foo.publish_date }}
            {{ foo.text }}<br><br>

        {% endfor %}

    {% endif %}

{% endblock %}

