{% extends 'blog/sample.html' %}

{% block content %}

    <form class="registration_form" action="/registration/" method="post">
        {% csrf_token %}
        {% if error_message %}
            <h3 style="color: darkred">{{ error_message }}</h3>

        {% endif %}

        {% if error_email %}
            <h3 style="color: darkred">{{ error_email }}</h3>

        {% endif %}
        <span> Введите имя:</span>
        <input type='text' name="name"><br><br>
        <span>Введите фамилию:</span>
        <input type='text' name="lastname"><br><br>
        <span>Введите emeil:</span>
        <input type='text' name="email"><br><br>
        <span>Введите пароль:</span>
        <input type='password' name="password"><br><br>
        <span>Введите пароль второй раз:</span>
        <input type='password' name="password_conf"><br><br>

        <input type="submit" value="Принять">

    </form>

{% endblock %}