<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<form action="/registration/" method="post">
    Введите имя:
    <input type='text' name="username"><br><br>
    Введите фамилию:
    <input type='text' name="lastname"><br><br>
    Введите emeil:
    <input type='text' name="useremail"><br><br>
    Введите пароль:
    <input type='password' name="userpass"><br><br>
    <input type="submit" value="Принять">
</form>


</body>
</html>