<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<form action="/registration/" method="post">
    {% csrf_token %}
    {% if error_message %}
        <h3 style="color: darkred">{{ error_message }}</h3>

    {% endif %}

    {% csrf_token %}
    {% if error_email %}
        <h3 style="color: darkred">{{ error_email}}</h3>

    {% endif %}
    Введите имя:
    <input type='text' name="name"><br><br>
    Введите фамилию:
    <input type='text' name="lastname"><br><br>
    Введите emeil:
    <input type='text' name="email"><br><br>
    Введите пароль:
    <input type='password' name="password"><br><br>
    Введите пароль второй раз:
    <input type='password' name="password_conf"><br><br>

    <input type="submit" value="Принять">

</form>


</body>
</html>